body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td,img { margin:0; padding:0; border: 0;} 
body, button, input, select, textarea { background:#fff;color:#000;font-size:12px;font-family:"SimSun","宋体","Arial Narrow"; } 
h1, h2, h3, h4, h5, h6{ font-size:100%; } 
address, cite, dfn, em, var { font-style:normal; } 
code, kbd, pre, samp { font-family:couriernew, courier, monospace; } 
small{ font-size:12px; } 
ul, ol { list-style:none; } 
a:link{
	text-decoration:none; 
	color:#000;
}
a:visited{
	text-decoration:none; 
	color:#000;
}
a:hover{
	text-decoration:none; 
	color:#000;
}
a:active{
	text-decoration:none; 
	color:#000;
}
sup { vertical-align:text-top; } 
sub{ vertical-align:text-bottom; } 
legend { color:#000; } 
button, input, select, textarea { font-size:100%; } 
table { border-collapse:collapse; border-spacing:0; }